{% extends 'importable.html' %}
{% block title %} Download and Watch {% endblock %}
{% block body %} 


<section class="Instagrampost" >	
<center>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">

    </div>
    <div class="col-md-auto" >
     <div class="card" style="background-color: rgba(255, 0, 0, 0);">
     	<h3>Download Click thie Button</h3><hr>
  <div class="card-body">
        <iframe src="//recordmp3.co/#/watch?v={{id}}&layout=button"  style="width: 300px; height: 40px; border: 0px; "></iframe>
  </div>
</div>
    </div>
    <div class="col col-lg-2">
   
    </div>
  </div>
</center>
</section>





{% endblock  %}